<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
</head>

<body>
	<header class="header">
		<div class="container">
			<h1 class="title">
				Pessoas
			</h1>
		</div>
	</header>

	<main class="grid container">
		<app-listar-pessoas [ngClass]="parteMenuListar ? 'show' : 'hidden'"></app-listar-pessoas>
		<app-cadastrar-pessoa [ngClass]="parteMenuCadastro ? 'show' : 'hidden'" (showType)="showType($event)" (sucessCadastro)="sucessCadastro()"></app-cadastrar-pessoa>
	</main>

</body>