<main class="grid container">
	<table class="table is-bordered is-hoverable" *ngIf="people.length > 0">
		<tbody>
			<tr *ngFor="let person of people">
				<td style="vertical-align: middle;">{{person.name}}</td>
				<td style="vertical-align: middle;">{{person.birthDate}}</td>
				<td style="vertical-align: middle;"><img class="view_image" src="{{person.photo}}" alt="{{person.photo}}" title="{{person.name}}"></td>
				<td (click)="removePersonByName(person.name)"><span class="button">Excluir</span></td>
			</tr>
		</tbody>
	</table>


	<table class="table is-bordered is-hoverable" *ngIf="people.length === 0">
		<tbody>
			<tr>
				<td colspan="2"><p>Nenhuma pessoa cadastrada no momento</p></td>
			</tr>
		</tbody>
	</table>
</main>